.idea
tgt_sys/apache-zookeeper-3.5.8
tgt_sys/apache*
tgt_sys/cassandra*
tgt_sys/ha*
tgt_sys/zookeeper*
tgt_sys/java-se-7u75-ri
LogRestore/libs*
LogRestore/jdk*
LogRestore/target*
tgt_sys/hbase*
tgt_sys/old_version
tgt_sys/package
tgt_sys/codeql*
tgt_sys/*.tar.gz
tgt_sys/*.tar.gz.1
tgt_sys/coverage_out
tgt_sys/coverage_results
tgt_sys/apache-cassandra-1.0.0-rc2-src/
log_variable_analysis.txt
method_coverage_results.json
/parsed_enhanced_logs.json
